body {
	margin:0px; 
	padding:0px;
	/*background-color: #fff;*/
	background-color: #f5f5f5;
	color: #454545;
	}

p {
  font-family: Hack, monospace;
  font-size: 12px;
  line-height: 2.5em;
}

h1 {
  text-align: right;
  color: #fff !important;
  font-size: 34px;
  letter-spacing: 0.2em;
  weight: 700;
  position: rleative-inline;
}

.jumbotron {
  background-color: transparent;
  /*margin-top: -100px;*/
}

#bg { position: fixed; top: 0; left: 0; 
z-index: -10;}
.bgwidth { width: 100%; }
.bgheight { height: 100%; }

/*
.navbar {
   background-color: transparent;
   border-color: transparent;
   color: #000;
   font-family: 'Helvetica', sans-serif; 
   font-size: 20px;
   position: relative;
   z-index: 10000;
   top: 0;
   width: 100%
}*/


.instagram {
  border-style: solid;
  border-width: 1px;
  border-color: #;
}
.instagram-gallery{
  min-width:300px;
}
.instagram-img{
  width:80px;
  float:left;
  margin:5px;
  position:relative;
  background:#454545;
/*  box-shadow:0 1px 1px rgba(0,0,0,0.4);*/
}
.instagram-gallery .imagebox img{
  width:80px;
  height:80px;
  display:block;
}
.instagram-gallery .imagebox .likes{
  position:absolute;
  top:50px;
  left: 0px;
  padding:5px 5px 5px 20px;
  background:transparent url(https://abs.twimg.com/emoji/v1/72x72/2665.png) no-repeat;
  background-size:10px;
  background-position:5px;
  color:#fff;
  font-size: 11px;
}

.article-title {
  padding: 5px 5px 5px 10px;
  color: #fff;
  font-weight: 500;
  background-image: linear-gradient(
      to right top,
      transparent 33%,
      #454545 33%,
      #454545 66%,
      transparent 66%
  );
  background-size: 3px 3px;

}


time {
  float: right;
  font-weight: 700;
  font-size: 12px;
  padding-left: 5px;
  background-color: transparent;
  color: #fff;
/*  background-color: rgba(245, 245, 245, 0.8);*/
 /* background-image: linear-gradient(
      to right top,
      transparent 33%,
      #000 33%,
      #000 66%,
      transparent 66%
  );
  background-size: 3px 3px;*/
}

.hoverlink{
  float: right;
  color: rgba(255,255,255,1) !important;
 /* color: #454545 !important;*/
  text-decoration:none !important;
  display: inline-block;
  text-decoration: none;
}

.hoverlinkicons{
  float: right;
  color: rgba(255,255,255,1) !important;
/*  color: #454545 !important;*/
  text-decoration:none !important;
  display: inline-block;
  text-decoration: none;
}

.hoverlinkicons:after{
  content: '';
  display: block;
  height: 1px;
  width: 0;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}

.hoverlinkicons:hover:after {
  width: 100%;
  background: rgba(255,255,255,1);
/*  background: #454545;*/
}

.hoverlink:after {
  content: '';
  display: block;
  height: 1px;
  width: 0;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}

.hoverlink:hover:after {
  width: 100%;
  background: rgba(255,255,255,1);
 /* background: #454545;*/
}

#header{
    position: fixed;
    /*top: 100px;*/
    width: 90%; height:50px;
    padding: 20px;
    background-color: transparent;
   /* background-color: rgba(245,245,245,0.9);*/
    border-color: transparent;
    font-family: 'Helvetica', sans-serif; 
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 7px;
    /*color: #454545;*/
    color: #000;
    z-index: 200;
}

.page-content {
	position: relative;
  margin-top: 90px;
	z-index: 0;
}


/* ---- particles.js container ---- */

#particles-js {
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
canvas{
  float: center;
  display:relative;
  vertical-align:bottom;
  margin-top: -100px;
  background: transparent;
}

@media only screen and (max-width: 500px) {
    canvas{
      float: left;
      display:block;
      vertical-align:bottom;
      margin-top: -80px;
      width: 350px;
      height: 100px;
      z-index: -1;
    }
}

media (max-width: @screen-xs-min) {
  .modal-xs { width: @modal-md-12; }
}



.container {
	margin-top: 30px;
}

.modal-header {
	border-color: transparent;
}

#fl_menu{
	position:absolute; 
	top:82px; 
	left:20px; 
	z-index:9999; 
	width:200px; 
	height:50px;
}
#fl_menu .label{
	padding-left:20px; 
	line-height:50px; 
	font-family: 'Helvetica', sans-serif; 
	font-size:20px; 
	font-weight:200; 
	background:#000; 
	color:#fff; 
	letter-spacing:7px;
    border-radius:0px/50%;
}
#fl_menu .menu{
	display:none;
}
#fl_menu .menu .menu_item{
	display:block; 
	background:#000; 
	color:#bbb; 
	border-top:1px solid #333; 
	padding:10px 20px; 
	font-family:Arial, Helvetica, sans-serif; 
	font-size:12px; 
	text-decoration:none;
}
#fl_menu .menu a.menu_item:hover{
	background:#333; 
	color:#fff;
}


/*.menu {
  background: rgba(255, 255, 255, 0.0);
}

.menu-item, 
.menu-open-button {
  background: #000;
  border-radius: 50%;
  width: 3.5em;
  height: 3.5em;
  margin-left: -55px;
  position: fixed;
  top: 75%;
  color: white;
  text-align: center;
  line-height: 3.5em;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform ease-out 300ms;
          transition: transform ease-out 300ms;
}

.menu-open {
  display: none;
}

.hamburger {
  width: 25px;
  height: 4px;
  background: #fff;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -12.5px;
  margin-top: -1.5px;
  -webkit-transition: -webkit-transform 300ms;
          transition: transform 300ms;
}

.hamburger-1 {
  -webkit-transform: translate3d(0, -8px, 0);
          transform: translate3d(0, -8px, 0);
}

.hamburger-2 {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.hamburger-3 {
  -webkit-transform: translate3d(0, 8px, 0);
          transform: translate3d(0, 8px, 0);
}

.menu-open:checked + .menu-open-button .hamburger-1 {
  -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
          transform: translate3d(0, 0, 0) rotate(45deg);
}
.menu-open:checked + .menu-open-button .hamburger-2 {
  -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
          transform: translate3d(0, 0, 0) scale(0.1, 1);
}
.menu-open:checked + .menu-open-button .hamburger-3 {
  -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
          transform: translate3d(0, 0, 0) rotate(-45deg);
}

.nav {
  position: fixed;
  left: 95%;
  margin-left: 0;
  width: 150px;
  height: 150px;
  box-sizing: border-box;
  font-size: 20px;
  text-align: left;
}

.menu-item:hover {
  background: linear-gradient(135deg, #000, #000);
  color: rgba(245, 245, 245, 0.80);
}
.menu-item:nth-child(3) {
  -webkit-transition-duration: 180ms;
          transition-duration: 180ms;
}
.menu-item:nth-child(4) {
  -webkit-transition-duration: 180ms;
          transition-duration: 180ms;
}
.menu-item:nth-child(5) {
  -webkit-transition-duration: 180ms;
          transition-duration: 180ms;
}
.menu-item:nth-child(6) {
  -webkit-transition-duration: 180ms;
          transition-duration: 180ms;
}

.menu-open-button {
  z-index: 2;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  -webkit-transform: scale(1.0, 1.0) translate3d(0, 0, 0);
          transform: scale(1.0, 1.0) translate3d(0, 0, 0);
  cursor: pointer;
}

.menu-open-button:hover {
  -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
          transform: scale(1.1, 1.1) translate3d(0, 0, 0);
}

.menu-open:checked + .menu-open-button {
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
  -webkit-transform: scale(0.75, 0.75) translate3d(0, 0, 0);
          transform: scale(0.75, 0.75) translate3d(0, 0, 0);
}

.menu-open:checked ~ .menu-item {
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}
.menu-open:checked ~ .menu-item:nth-child(3) {
  -webkit-transition-duration: 100ms;
          transition-duration: 100ms;
  -webkit-transform: translate3d(0, -75px, 0);
          transform: translate3d(0, -75px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(4) {
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  -webkit-transform: translate3d(0, -150px, 0);
          transform: translate3d(0, -150px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(5) {
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transform: translate3d(0, -225px, 0);
          transform: translate3d(0, -225px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(6) {
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
  -webkit-transform: translate3d(0, -300px, 0);
          transform: translate3d(0, -300px, 0);
}
*/




li {
    list-style-type: none;
}

* {
  box-sizing: border-box;
}

/* PAGE OUT */
.blocks {
  position: fixed;
  bottom: 0;
  z-index: 1;
  list-style-type: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
}
.blocks__block {
  will-change: transform;
  position: relative;
  height: 22vh;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-transition: all 0.7s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.7s cubic-bezier(0.23, 1, 0.32, 1);
}
.blocks__block:nth-child(1) {
  /*background: rgba(245,245,245,1);*/
  background: rgba(236,187,173,1);
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}
.blocks__block:nth-child(2) {
  /*background: rgba(245,245,245,1);*/
  background: rgba(255,226,196,1);
  -webkit-transform-origin: 12.5% 100%;
          transform-origin: 12.5% 100%;
}
.blocks__block:nth-child(3) {
/*  background: rgba(245,245,245,1);*/
  background: rgba(250,215,123,1);
  -webkit-transform-origin: 25% 100%;
          transform-origin: 25% 100%;
}
.blocks__block:nth-child(4) {
 /* background: rgba(245,245,245,1);*/
  background: rgba(253,100,103,1); 
  -webkit-transform-origin: 37.5% 100%;
          transform-origin: 37.5% 100%;
}
.blocks__block:nth-child(5) {
/*  background: rgba(245,245,245,1);*/
  background:  rgba(169,216,200,1);
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
}
.blocks__block:nth-child(6) {
/*  background: rgba(245,245,245,1);*/
  background:  rgba(121,136,129,1);
  -webkit-transform-origin: 62.5% 100%;
          transform-origin: 62.5% 100%;
}
.blocks__block:nth-child(7) {
  /*background: rgba(245,245,245,1);*/
  background:  rgba(199,177,156,1);
  -webkit-transform-origin: 75% 100%;
          transform-origin: 75% 100%;
}
.blocks__block:nth-child(8) {
  /*background: rgba(245,245,245,1);*/
  background:  rgba(206,186,198,1);
  -webkit-transform-origin: 87.5% 100%;
          transform-origin: 87.5% 100%;
}
.blocks__block:nth-child(9) {
  /*background: rgba(245,245,245,1);*/
  background:  rgba(226,222,219,1);
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}

.blocks__block.active {
  z-index: 2;
}
.blocks-content {
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100vh;
  width: 100%;
}
.blocks-content__content {
  overflow-y: scroll;
  will-change: transform, opacity;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
   margin-left: auto;
/*  flex-flow: column wrap;*/
  justify-content:space-around;

  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  width: 100%;
  z-index: 3;
  top: 0;
  left: 0;
  height: 100%;
  padding: 10vw;
  font-size: 20px;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: all 0.3s 0.2s ease-out;
  transition: all 0.3s 0.2s ease-out;
}
.blocks-content__content.active {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  visibility: visible;
}
.blocks-content .blocks__content-close {
  position: fixed;
  right: 2vw;
  top: 2vh;
  font-size: 30px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.blocks-content .blocks__content-close:hover {
  -webkit-transform: scale(2);
          transform: scale(2);
}
.blocks-content p {
  font-size: 12px;
  line-height: 2;
  max-width: 800px;
}
.blocks-content h2 {
  padding: 15px 30px;
  font-weight: 300;
  letter-spacing: 6px;
  word-wrap:break-word;
  box-shadow: inset 0 0 0 3px #000;
}
.blocks-names {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  letter-spacing: 2px;
  cursor: pointer;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
.blocks-names .blocks__name {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 22.5vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 500;
}

.blocks-names .blocks__name:hover{
  background:#333; 
  color:#fff;
}

.vertical{
    writing-mode:tb-rl;
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform:rotate(180deg);
    transform: rotate(180deg);
    white-space:nowrap;
    display:block;
    bottom:0;
    width:20px;
    height:20px;
}

.card_img{
  max-width: 350px;
  max-height: 350px;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: #bbb5af;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  color: #bbb5af;
}

input::placeholder,
textarea::placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::placeholder,
textarea::focus:placeholder {
  color: #bbb5af;
}

input::-ms-placeholder,
textarea::-ms-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-ms-placeholder,
textarea:focus::-ms-placeholder {
  color: #bbb5af;
}


/* on hover placeholder */

input:hover::-webkit-input-placeholder,
textarea:hover::-webkit-input-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder,
textarea:hover:focus::-webkit-input-placeholder {
  color: #cbc6c1;
}

input:hover::-moz-placeholder,
textarea:hover::-moz-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-moz-placeholder,
textarea:hover:focus::-moz-placeholder {
  color: #cbc6c1;
}

input:hover::placeholder,
textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::placeholder,
textarea:hover:focus::placeholder {
  color: #cbc6c1;
}

input:hover::placeholder,
textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-ms-placeholder,
textarea:hover::focus:-ms-placeholder {
  color: #cbc6c1;
}



#form {
  position: relative;
  width: 500px;
}

input {

  font-size: 0.875em;
  width: 320px;
  height: 50px;
  padding: 0px 15px 0px 15px;
  background: transparent;
  outline: none;
  color: #454545;
  border: solid 1px #000;
  border-bottom: none;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background: #000;
  color: #e2dedb;
}

textarea {
  width: 320px;
  max-width: 470px;
  height: 110px;
  max-height: 110px;
  padding: 15px;
  background: transparent;
  outline: none;
  color: #454545;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  border: solid 1px #000;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: #000;
  color: #e2dedb;
}

#submit {
  width: 320px;
  padding: 0;
  margin: -5px 0px 0px 0px;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  color: #b3aca7;
  outline: none;
  cursor: pointer;
  border: solid 1px #000;
  border-top: none;
}

#submit:hover {
  color: #e2dedb;
}

.project-button {
  color: #454545;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  text-align: center;
  padding: 15px 30px;
  font-weight: 300;
  letter-spacing: 6px;
  box-shadow: inset 0 0 0 3px #000;
}

.hoversite{
  color: rgba(0,0,0,1) !important;
  text-decoration:none !important;
  display: inline-block;
  text-decoration: none;
}

.hoversite:after {
  content: '';
  display: block;
  height: 1px;
  width: 0;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}

.hoversite:hover:after {
  width: 100%;
  background: rgba(255,255,255,1);
}

